<% provide(:title, "Reset Password") %>

<div class="container">
	<div class="row">
		<div class="card-panel">
			<h3>Reset Password</h3>
			<% if flash[:danger] %>
				<div class="red-text error-messages">
					<%= flash[:danger] %>
				</div>
			<% end %>
			<%= form_for(:password_reset, url: password_resets_path) do |f| %>
				<div class="input-field">
					<%= f.label :email %>
					<%= f.email_field :email, class: "validate", required: true %>
				</div>
				<br>
				<%= f.submit "Submit", class: 'btn blue' %>
			<% end %>
		</div>
	</div>
</div>
