<% provide(:title, "Sign up for Krewe") %>

<div class="container">
  <div class="card-panel">
    <h4>Signup for Krewe Beta</h4>
    <%= form_for(@beta_code, url: beta_signup_path) do |f| %>

      <div class="input-field">
        <%= f.email_field :email, required: true %>
        <%= f.label :email %>
      </div>

      <div class="right-align input-field">
          <%= f.submit "Submit", class: 'btn blue' %>
      </div>
      <br>
      <div class="right-align">
        <%= link_to "Log in instead", login_path %>
      </div>
    <% end %>
  </div>
</div>
