<h1>
	<%= @group.name %> <%= link_to "Drop Group", drop_path, class: 'btn btn-danger' %>
</h1>

<h2>Members</h2>
<ul class="list-group">
	<% @group.users.each do |user| %>
		<li class="list-group-item"><%= link_to user.name, public_profile_path(user) %></li>
	<% end %>
</ul>

<h2>Messages</h2>

<% @messages.each do |message| %>
	<div class="well">	
		<%= link_to message.user.name, public_profile_path(message.user) %> <%= local_time_ago(message.created_at) %>: <br>
		<%= message.content %> 
	</div>
<% end %>

<%= will_paginate @messages, renderer: BootstrapPagination::Rails %>

<h2>Write a new message</h2>
<%= render "messages/new" %>