<h1>
	<%= @group.name %> <%= link_to "<i class='glyphicon glyphicon-trash'></i> Drop Group".html_safe, group_drop_user_path(@group), class: 'btn btn-danger' %>
</h1>


<h2>Messages</h2>

<% @messages.each do |message| %>
	<div class="well">	
		<%= link_to message.user.name, user_public_profile_path(message.user) %> <%= local_time_ago(message.created_at) %>: <br>
		<%= message.content %> 
	</div>
<% end %>

<%= will_paginate @messages, renderer: BootstrapPagination::Rails %>

<h2>Write a new message</h2>
<%= render "messages/new" %>

<div class="col-md-6">
	<h2>Members</h2>
	<ul class="list-group">
		<% @group.users.each do |user| %>
			<li class="list-group-item"><%= link_to user.name, user_public_profile_path(user) %>
			<span class='badge'><%= current_user.show_personal_notifications(user)  %></span></li>
		<% end %>
	</ul>
</div>

<h2>Activities</h2>
<div class="col-md-6">
	<ul class="list-group">
		<% @group.upcoming_activities.each do |activity| %>
		<li class="list-group-item">
			<%= activity.plan %> <%= local_time_ago(activity.appointment) %> <% unless activity.user_going?(current_user) %><%= link_to "Go", activity_add_user_path(activity), class: 'btn btn-success' %><% end %>
		</li>
		<% end %>
	</ul>
</div>

<div class="col-md-6">
	<%= render 'activities/new' %>
</div>