<div class="col-md-12">
<h1>
	<%= @group_show.group_name %>
</h1>
	<%= link_to "<i class='glyphicon glyphicon-trash'></i> Drop Group".html_safe, drop_user_group_path(@group_show.group), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to drop this group?", text: "You will not be able to rejoin it.", 'confirm-button-text': "Yeah, these guys are jerks"} %>

	<% if @group_show.ripe_for_expansion? %>
		<% unless @group_show.user_expand_group_votes(current_user) %>
			<%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> Expand Group #{@group_show.expand_group_votes_size}/#{@group_show.users_count}".html_safe, group_expand_group_votes_path(@group_show.group), method: :post, class: 'btn btn-success', id: 'expand', remote: @group_show.not_almost_expandable? %>
		<% else %>
			<%= link_to "Don't Expand #{@group_show.expand_group_votes_size}/#{@group_show.users_count}", group_expand_group_vote_path(@group_show.group, @group_show.user_expand_group_votes(current_user)), method: :delete, class: 'btn btn-danger', remote: true, id: 'remain' %>
		<% end %>
	<% end %>

	<%= link_to "<i class='glyphicon glyphicon-glass'></i> Propose Activity".html_safe, new_group_activity_path(@group_show.group), id: 'new_activity', class: 'btn btn-primary', remote: true %>
</div>

<% if @group_show.activities_any? %>
	<div class="col-md-6">
		<h2>Activities</h2>
		<ul class="list-group">
			<% @group_show.activities.each do |activity| %>
			<li class="list-group-item clearfix">
				<%= link_to activity.plan, activity_path(activity) %> <%= local_time(activity.appointment) %>
				<% unless activity.user_going?(current_user) %>
					<span class="pull-right"><%= link_to "Go", add_user_activity_path(activity), method: :post, class: 'btn btn-success' %></span>
				<% end %>
			</li>
			<% end %>
		</ul>

		<% if flash[:errors] %>
			<% flash[:errors].each do |msg| %>
			<div class="alert alert-danger">
				<%= msg %>
			</div>
			<% end %>
		<% end %>

	</div>
<% end %>

<div id='new-activity'></div>

<div class="col-md-6">
	<h2>Members</h2>
	<ul class="list-group">
		<% if @group_show.one_user? %>
			<li class="list-group-item">No other users in the group yet. We'll let you know when they join.</li>
		<% end %>
		<% @group_show.users.each do |user| %>
			<li class="list-group-item clearfix"><%= link_to user.name, public_profile_user_path(user) %>
				 <% if @group_show.primary_group? %>
					 <span class="pull-right">
					 	<% if current_user.can_vote?(user) %>
					 		<%= link_to "Remove from Group #{user.group_drop_votes_count(@group_show.group)}/3", group_drop_user_votes_path(@group_show.group, user_id: user), remote: true, method: :post, class: 'btn btn-danger', id: "remove-btn-#{user.id}", data: {confirm: "Vote to remove this user?", text: "Remove inactive users, but only if they're inactive."}%>
					 	<% elsif user.not_self(current_user) %>
					 		<%= link_to "Undo #{user.group_drop_votes_count(@group_show.group)}/3", group_drop_user_vote_path(@group_show.group, user.voter_vote(current_user)), remote: true, method: :delete, class: 'btn btn-warning', id: "undo-btn-#{user.id}" %>
					 	<% end %>
					 </span>
				 <% end %>
			 	</li>
		<% end %>
	</ul>
</div>

<div class="col-md-12">
	<h2>Messages</h2>
	<div class="col-md-8 row">
		<ul class="nav nav-tabs nav-justified topics">
			<% @group_show.topics.each do |topic| %>
				<li><%= link_to topic.name, change_topic_path(topic), class: "btn btn-info", remote: true %></li>
			<% end %>
		</ul>
	</div>
	<div class="col-md-4">
		<%= render partial: 'topics/new', locals: { group: @group_show.group, topic: @group_show.new_topic } %>
	</div>

	<div class="col-md-12 row message-group">
		<%= render partial: 'topics/topic', locals: { topic: @group_show.topic } %>
	</div>
</div>

<%= javascript_tag do %>
	mentioning(<%= @group_show.names_data %>)
<% end %>
