<div class="row group-page">
	<div class="col s12">
		<h3>
			<%= @group_show.group_name %>
		</h3>
		<div class="hide-on-med-and-down">
			<%= render "groups/buttons" %>

			<%= link_to "Propose Activity", new_group_activity_path(@group_show.group), id: 'new_activity', class: 'waves-effect waves-light btn purple white-text', remote: true %>
		</div>
	</div>

	<div class="col s12 l9">
		<h4>Messages</h4>
			<div class="col s12">
				<ul class="tabs topics">
					<%= render partial: 'topics/topics', locals: { topics: @group_show.topics } %>
				</ul>
			</div>

			<%= render partial: 'topics/new', locals: { group: @group_show.group, topic: @group_show.new_topic } %>

		<div class="message-group">
			<%= render partial: 'topics/topic', locals: { topic: @group_show.topic } %>
		</div>
	</div>

	<div class="col s12 m3 hide-on-med-and-down">
		<%= render partial: "activities/activities", locals: { activities: @group_show.activities, group: @group_show.group } %>
	</div>

	<div id='new-activity' class="modal"></div>

	<div class="modal" id="activities">
		<div class="modal-content">

			<%= render partial: "activities/activities", locals: { activities: @group_show.activities, group: @group_show.group } %>
		</div>
	</div>

	<div class="modal" id="members">
		<div class="modal-content">
			<h4>Members</h4>
			<ul class="collection">
				<% if @group_show.one_user? %>
					<li class="collection-item">No other users in the group yet. We'll let you know when they join.</li>
				<% end %>
				<% @group_show.users.each do |user| %>
					<li class="collection-item avatar">
						<i class="material-icons circle green">face</i>
						<span class="title"><%= link_to user.name, public_profile_user_path(user) %></span>
						 <% if @group_show.primary_group? %>
							 	<% if current_user.can_vote?(user) %>
							 		<%= link_to "<i class='material-icons'>cancel</i> #{user.group_drop_votes_count(@group_show.group)}/3".html_safe, group_drop_user_votes_path(@group_show.group, user_id: user), remote: true, method: :post, class: 'btn red secondary-content', id: "remove-btn-#{user.id}", data: {confirm: "Vote to remove this user?", text: "Remove inactive users, but only if they're inactive."} %>
							 	<% elsif user.not_self(current_user) %>
							 		<%= link_to "Undo #{user.group_drop_votes_count(@group_show.group)}/3", group_drop_user_vote_path(@group_show.group, user.voter_vote(current_user)), remote: true, method: :delete, class: 'btn orange secondary-content', id: "undo-btn-#{user.id}" %>
							 	<% end %>
						 <% end %>
					 	</li>
				<% end %>
			</ul>
		</div>
	</div>


</div>

<%= javascript_tag do %>
	mentioning(<%= @group_show.names_data(current_user) %>)
<% end %>
