<h1>
	<%= @group.name %> <%= link_to "<i class='glyphicon glyphicon-trash'></i> Drop Group".html_safe, group_drop_user_path(@group), method: :delete, class: 'btn btn-danger' %>
</h1>


<h2>Messages</h2>
<div class="messages">
	<% @messages.each do |message| %>
		<div class="well">	
			<%= link_to message.user_name, user_public_profile_path(message.user) %> <%= local_time_ago(message.created_at) %>: <br>
			<%= message.content %> 
		</div>
	<% end %>
</div>

<%= will_paginate @messages, renderer: BootstrapPagination::Rails %>

<h2>Write a new message</h2>
<%= render "messages/new" %>

<div class="col-md-6">
	<h2>Members</h2>
	<ul class="list-group">
		<% @group.users.each do |user| %>
			<li class="list-group-item clearfix"><%= link_to user.name, user_public_profile_path(user) %>
			<span class='badge'><%= current_user.personal_notifications_count(user) %></span> <span class="pull-right">	<% if current_user.can_vote?(user) %><%= link_to "Vote to remove #{user.group_drop_votes_count(@group)}", group_drop_user_votes_path(@group, user_id: user), method: :post, class: 'btn btn-danger' %> <% elsif user != current_user %> <%= link_to "Undo", group_drop_user_vote_path(@group, user.voter_vote(current_user)), method: :delete, class: 'btn btn-warning' %><% end %></span> </li>
		<% end %>
	</ul>
</div>

<div class="col-md-6">
	<h2>Activities</h2>
	<ul class="list-group">
		<% @group.upcoming_activities.each do |activity| %>
		<li class="list-group-item clearfix">
			<%= link_to activity.plan, group_activity_path(@group, activity) %> <%= local_time_ago(activity.appointment) %>
			<% unless activity.user_going?(current_user) %>
				<span class="pull-right"><%= link_to "Go", group_activity_add_user_path(@group, activity), method: :post, class: 'btn btn-success' %></span>
			<% end %>
		</li>
		<% end %>
	</ul>

	<% if flash[:error] %>
		<% flash[:error].each do |msg| %>
		<div class="alert alert-danger">
			<%= msg %>
		</div>
		<% end %>
	<% end %>
	
	<%= link_to "Propose Activity", new_group_activity_path(@group), id: 'new_activity', class: 'btn btn-primary', remote: true %>
</div>
