	<%= link_to "Delete Account", user_path(@user), data: {confirm: "Are you sure you want to delete your account?", text: "This cannot be undone. All account information and connections will be permanently destroyed."}, method: :delete, class: "btn red" %>

	<br><br>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/errors', object: @user %>

			<div class="input-field">
				<%= f.text_field :name, class: 'validate', required: true %>
				<%= f.label :name %>
			</div>
			<div class="input-field">
				<%= f.email_field :email, class: 'validate', required: true %>
				<%= f.label :email  %>
			</div>

	    <div class="input-field tooltipped" data-position="top" data-tooltip="You will need to drop your old group if you move.">
				<%= f.text_field :address, placeholder: "", class: "active", required: true %>
				<%= f.label :address %>
	    </div>

			<div class="input-field tooltipped" data-position="top" data-tooltip="You will need to drop your old group if you want to change types.">
				<%= f.select :age_group, age_groups, { disabled: "Select Age Group" }, require: true %>
			</div>

			<div class="tooltipped" data-position="top" data-tooltip="You will need to drop your old group if you want to change types.">
				People Type?
				<% categories.each_with_index do |category, index| %>
					<%= f.radio_button :category, category, id: "user_category_#{index}" %>
					<%= f.label "category_#{index}", category %>
				<% end %>
			</div>

			<div class="tooltipped" data-position="top" data-tooltip="You will need to drop your old group if you want to change types.">
				Single gender?
				<% gender_groups.each_with_index do |gender_group, index| %>
					<%= f.radio_button :gender_group, gender_group, id: "user_gender_#{index}" %>
					<%= f.label "gender_#{index}", gender_group %>
				<% end %>
			</div>

			<%= f.hidden_field :latitude, id: "lat" %>
			<%= f.hidden_field :longitude, id: 'lng' %>
			<br>
				<%= f.submit :Submit, class: 'btn blue' %>
	<% end %>

<%= javascript_tag do %>
	initAutoComplete()
	$('select').material_select();
	$('.tooltipped').tooltip();

	$('label[for="user_name"]').addClass("active")
	$('label[for="user_email"]').addClass("active")
	$('label[for="user_address"]').addClass("active")
<% end %>
