	<%= link_to "Delete Account", user_path(@user), data: {confirm: "Are you sure you want to delete your account?", text: "This cannot be undone. All account information and connections will be permanently destroyed."}, method: :delete, class: "btn red" %>

	<br><br>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/errors', object: @user %>

			<div class="input-field">
 				<%= f.text_field :name, class: 'validate', required: true %>
 				<%= f.label :name %>
 			</div>

	    <div class="input-field tooltipped" data-position="top" data-tooltip="You will need to drop your old group if you move.">
				<%= f.text_field :address, placeholder: "", class: "active", required: true %>
				<%= f.label :address %>
	    </div>

			<div class="input-field tooltipped" data-position="top" data-tooltip="You will need to drop your old group if you want to change types.">
				<%= f.select :age_group, age_groups, { disabled: "Select Age Group" }, require: true %>
			</div>

			<div class="tooltipped" data-position="top" data-tooltip="You will need to drop your old group if you want to change types.">
				People Type?
				<% categories.each_with_index do |category, index| %>
					<%= f.radio_button :category, category, id: "user_category_#{index}" %>
					<%= f.label "category_#{index}", category %>
				<% end %>
			</div>

			<h3>Notification Settings</h3>
			<%= f.fields_for :notification_settings do |p| %>
				<div class="switch">
					User Join Emails:
					<label>
						Off
						<%= p.check_box :join, {checked: @user.send_notification?("join") }, "true", "false" %>
						<span class="lever"></span>
						On
					</label>
				</div>

				<div class="switch">
					Group Mention Emails:
					<label>
						Off
						<%= p.check_box :mention, {checked: @user.send_notification?("mention") }, "true", "false" %>
						<span class="lever"></span>
						On
					</label>
				</div>

				<div class="switch">
					Personal Emails:
					<label>
						Off
						<%= p.check_box :personal, {checked: @user.send_notification?("personal") }, "true", "false" %>
						<span class="lever"></span>
						On
					</label>
				</div>

				<div class="switch">
					Activity Proposal Emails:
					<label>
						Off
						<%= p.check_box :proposal, {checked: @user.send_notification?("proposal") }, "true", "false" %>
						<span class="lever"></span>
						On
					</label>
				</div>

				<div class="switch">
					Group Expansion Emails:
					<label>
						Off
						<%= p.check_box :expand, {checked: @user.send_notification?("expand")}, "true", "false" %>
						<span class="lever"></span>
						On
					</label>
				</div>
			<% end %>

			<%= f.hidden_field :latitude, id: "lat" %>
			<%= f.hidden_field :longitude, id: 'lng' %>
			<br>
				<%= f.submit :Submit, class: 'btn blue' %>
	<% end %>
