<%= form_for(@user) do |f| %>
		<%= render 'shared/errors', object: @user %>

		<div class="input-field">
			<%= f.text_field :name, class: 'validate', required: true %>
			<%= f.label :name %>
		</div>
		<div class="input-field">
			<%= f.email_field :email, class: 'validate', required: true %>
			<%= f.label :email  %>
		</div>

    <div class="input-field">
			<%= f.text_field :address, placeholder: "", required: true %>
			<%= f.label :address %>
    </div>

		<div class="input-field">
			<%= f.select :category, categories, include_blank: true, required: true, class: "validate", required: true %>
			<%= f.label :category, "Select your category" %>
		</div>

		<div class="input-field">
			<%= f.password_field :password, class: 'validate', required: true %>
			<%= f.label :password %>
		</div>

		<div class="input-field">
			<%= f.password_field :password_confirmation, class: "validate", required: true %>
			<%= f.label :password_confirmation %>
		</div>

		<%= f.hidden_field :latitude, id: "lat" %>
		<%= f.hidden_field :longitude, id: 'lng' %>

		<div class="modal-footer">
			<%= f.submit :Submit, class: 'btn blue' %>
		</div>
<% end %>

<%= javascript_tag do %>
	initAutoComplete()
<% end %>
