<%= form_for(@user) do |f| %>
		<%= render 'shared/errors', object: @user %><br>

		<div class="input-field">
			<%= f.text_field :name, class: 'validate', required: true %>
			<%= f.label :name, "First and Last Name" %>
		</div>


    <div class="input-field">
			<%= f.text_field :address, placeholder: "", required: true %>
			<%= f.label :address %>
    </div>

		<div class="input-field tooltipped" data-position="top" data-tooltip="No one's going to card you. Pick the group you identify with most.">
			<%= f.select :age_group, age_groups, {disabled: "Select Age Group", selected: @user.age_group || "Select Age Group"}, require: true %>
		</div>

		<div id="people-type">
			People Type?
			<% categories.each_with_index do |category, index| %>
				<%= f.radio_button :category, category, id: "user_category_#{index}" %>
				<%= f.label "category_#{index}", category %>
			<% end %>
		</div>

		<div class="input-field tooltipped" data-position="top" data-tooltip="Pick a strong password that's at least 6 characters long">
			<%= f.password_field :password, class: 'validate', required: true %>
			<%= f.label :password %>
		</div>

		<div class="input-field">
			<%= f.password_field :password_confirmation, class: "validate", required: true %>
			<%= f.label :password_confirmation %>
		</div>

		<p>
			<%= check_box_tag :terms_of_service, true, true %>
			<%= label_tag :terms_of_service, "I agree to the #{link_to "Terms of Service", terms_of_service_path}".html_safe %>
		</p>

		<%= f.hidden_field :latitude, id: "lat" %>
		<%= f.hidden_field :longitude, id: 'lng' %>
		<%= f.hidden_field :email %>
		<%= hidden_field_tag :code, params[:code] %>

		<div class="modal-footer">
			<%= f.submit :Submit, class: 'btn blue' %>
		</div>
<% end %>
