<%= form_for(@user) do |f| %>
		<%= render 'shared/errors', object: @user %>

		<div class="input-field">
			<%= f.text_field :name, class: 'validate', required: true %>
			<%= f.label :name %>
		</div>
		<div class="input-field">
			<%= f.email_field :email, class: 'validate', required: true %>
			<%= f.label :email  %>
		</div>

    <div class="input-field">
			<%= f.text_field :address, placeholder: "", required: true %>
			<%= f.label :address %>
    </div>

		Pick a Category:
		<% categories.each do |category| %>
			<%= f.radio_button :category, category, id: "user_#{category}", checked: true, reqire: true %>
			<%= f.label category %>
		<% end %>

		<div class="input-field">
			<%= f.select :age_group, age_groups, {disabled: "Select Age Group", selected: "Select Age Group"}, require: true %>
		</div>

		<div class="input-field">
			<%= f.password_field :password, class: 'validate', required: true %>
			<%= f.label :password %>
		</div>

		<div class="input-field">
			<%= f.password_field :password_confirmation, class: "validate", required: true %>
			<%= f.label :password_confirmation %>
		</div>

		<%= f.hidden_field :latitude, id: "lat" %>
		<%= f.hidden_field :longitude, id: 'lng' %>

		<div class="modal-footer">
			<%= f.submit :Submit, class: 'btn blue' %>
		</div>
<% end %>

<%= javascript_tag do %>
	initAutoComplete()
<% end %>
