<%= form_for(@user) do |f| %>
		<%= render 'shared/errors', object: @user %>

		<div class="input-field">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="input-field">
			<%= f.label :email  %>
			<%= f.email_field :email, class: 'validate' %>
		</div>

    <div class="input-field">
			<%= f.label :address %>
			<%= f.text_field :address, required: true %>
    </div>

		<div class="input-field">
			<%= f.select(:category, categories, include_blank: true, required: true) %>
			<label>Select Your Category</label>
		</div>

		<div class="input-field">
			<%= f.label :password %>
			<%= f.password_field :password, required: true %>
		</div>

		<div class="input-field">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, required: true %>
		</div>

		<%= f.hidden_field :latitude, id: "lat" %>
		<%= f.hidden_field :longitude, id: 'lng' %>

		<%= f.submit :Submit, class: 'btn blue form-control' %>
<% end %>

<%= javascript_tag do %>
	initAutoComplete()
<% end %>
