<%= form_for @user do |f| %>
  <div class="input-field">
    <%= f.label :email %>
    <%= f.email_field :email, class: "validate", required: true %>
  </div>

  <div class="input-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="input-field right-align">
    <%= f.submit "Log in", class: "btn blue" %>
  </div>
<% end %>
