<div class="col-md-9 col-md-offset-1">
<%= link_to "<i class='glyphicon glyphicon-ban-circle'></i> Delete Account".html_safe, user_path(@user), data: {confirm: "Are you sure you want to delete your account?", text: "This cannot be undone. All account information and connections will be permanently destroyed."}, method: :delete, class: "btn btn-danger" %>

<br><br>
	<%= form_for(@user) do |f| %>
		<%= render 'shared/errors', object: @user %>

		<div class="form-group">
			<%= f.text_field :name, placeholder: "Name", class: 'form-control', required: true %>
			<%= f.email_field :email, placeholder: 'Email', class: 'form-control', required: true %>

		<%= f.text_field :address, placeholder: 'Address', class: 'form-control', required: true %>

		<%= f.hidden_field :latitude, id: "lat" %>
		<%= f.hidden_field :longitude, id: 'lng' %>

		<%= f.select(:category, categories, {}, class: 'form-control', required: true) %>

		<%= f.submit "Submit", class: 'btn btn-primary form-control' %>
<% end %>
</div>

<%= javascript_tag do %>
	initAutoComplete()
<% end %>
