<%= form_for @user do |f| %>
  <%= f.fields_for :available_days do |aday| %>
    <div class="column">
    <div class="box-row header">
    <%= aday.label weekdays[aday.options[:child_index]][0] %>
    <%= aday.hidden_field :day, value: weekdays[aday.options[:child_index]][1]  %>

    </div>

    <div class="box-row">
    <%= aday.label :morning %>
    <%= aday.check_box :morning %>

    </div>

    <div class="box-row">

    <%= aday.label :afternoon %>
    <%= aday.check_box :afternoon %>
    </div>

    <div class="box-row">

    <%= aday.label :evening %>
    <%= aday.check_box :evening %>
    </div>
    </div>
  <% end %>

  <br>
  <div class="box-button">
  <%= f.submit 'Submit', class: "btn btn-primary box-button" %>
  </div>
<% end %>
