<%= form_for(@user) do |f| %>
	<div class="col-md-6 col-md-offset-3">
			<%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
			<%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
			<%= f.text_field :street, placeholder: 'Street Address', class: 'form-control' %>
			<%= f.text_field :city, placeholder: "City", class: 'form-control' %>
			<%= f.select :state, us_states, {}, class: 'form-control' %>
			<%= f.select :birth_day, month_days, {}, class: 'form-control' %>
			<%= f.select :birth_month, month_names, {}, class: 'form-control' %>
			<%= f.select :birth_year, years, {}, class: 'form-control' %>
			<%= f.password_field :password, placeholder: 'Password', class: "form-control" %>
			<%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: "form-control" %>
			<%= f.submit :Submit, class: 'btn btn-primary' %>
	</div>	
<% end %>