<div class="well">
	<h1><%= @user.name %></h1> 
	Email: <%= mail_to @user.email %> <br>
	Location: <%= @user.city %>, <%= @user.state %> <br>
	Category: <%= @user.category %>
</div>

<% unless current_user == @user %>
	<div class="personal-messages">
		<% @personal_messages.each do |message| %>
			<%= render partial: 'personal_messages/show', locals: {message: message} %>
		<% end %>
	</div>

	<%= will_paginate @personal_messages, renderer: BootstrapPagination::Rails %>

	<%= render 'personal_messages/new' %>
<% end %>