<div class="well">
	<h1><%= @user.user_name %></h1>
	Email: <%= mail_to @user.user_email %> <br>
	Location: <%= @user.user_location %> <br>
	Category: <%= @user.user_category %>
</div>

<% unless @user.own_profile? %>
	<div class="well messages">
		<% if @user.personal_messages_any? %>
			<% @user.personal_messages.each do |message| %>
				<%= render partial: 'messages/show', locals: {message: message} %>
			<% end %>
		<% else %>
			<h3 id="intro">No messages yet. Why don't you say hi?</h3>
		<% end %>
	</div>

	<%= render partial: 'messages/new', locals: {message: @user.new_message} %>
<% end %>
