<div class="well">
	<h1><%= @user.name %></h1> 
	Email: <%= mail_to @user.email %> <br>
	Location: <%= @user.city %>, <%= @user.state %> <br>
</div>

<% unless current_user == @user %>
	<div class="personal_messages">
		<% @personal_messages.each do |message| %>
			<div class="well">
				<%= link_to message.sender_name, user_public_profile_path(message.sender) %> <%= local_time_ago(message.created_at) %>: <br>
				<%= message.content %> 
			</div>
		<% end %>
	</div>

	<%= will_paginate @personal_messages, renderer: BootstrapPagination::Rails %>

	<%= render 'personal_messages/new' %>
<% end %>