<div class="well">
	<h1><%= @user.user.name %></h1>
	Email: <%= mail_to @user.user.email %> <br>
	Location: <%= @user.user.city %>, <%= @user.user.state %> <br>
	Category: <%= @user.user.category %>
</div>

<% unless @user.own_profile? %>
	<div class="personal-messages">
		<% @user.personal_messages.each do |message| %>
			<%= render partial: 'personal_messages/show', locals: {message: message} %>
		<% end %>
	</div>

	<%= will_paginate @user.personal_messages, renderer: BootstrapPagination::Rails %>

	<%= render 'personal_messages/new' %>
<% end %>
