<h1><%= @user.name %></h1>
<h5><%= link_to "Profile", user_public_profile_path(current_user), class: "btn btn-info" %> <%= link_to "Edit", edit_user_path, class: "btn btn-warning" %></h5>

<div class="col-md-6">
	<h3>Friends</h3>
	<ul class="list-group">
		<% @user.friends.uniq.each do |friend| %>
			<% unless friend == current_user %>
				<li class="list-group-item">
					<%= link_to friend.name, user_public_profile_path(friend) %>
					<span class='badge'><%= @user.show_personal_notifications(friend) %></span>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

<div class="col-md-6">
	<h3>Groups</h3>
	<ul class="list-group">
		<% @user.groups.each do |group| %>
			<li class="list-group-item"><%= link_to group.name, group_path(group) %> 
				<span class='badge'><%= group.show_group_notifications(current_user) %></span>
			</li>
		<% end %>
	</ul>
	<h5><%= link_to '<i class="glyphicon glyphicon-plus"></i> Add Group'.html_safe, user_add_group_path(current_user), class: 'btn btn-success' %> 
	</h5>
</div>

<% if @user.upcoming_activities.any? %>
	<div class="col-md-6">
		<h3>Upcoming Activities</h3>
		<ul class="list-group">
			<% @user.upcoming_activities.each do |activity| %>
				<li class="list-group-item">
					<%= link_to activity.plan, activity.group %> with <%= activity.group_name %> <%= local_time_ago(activity.appointment) %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>