<h1><%= @user.name %></h1>
<h5><%= link_to "Profile", public_profile_user_path(current_user), class: "btn btn-info" %> <%= link_to "Edit", edit_user_path, class: "btn btn-warning" %> <%= link_to "Join Group", join_group_user_path, class: "btn btn-success", method: :post if @user.under_group_limit? %></h5>

<% if @user.unique_friends.any? %>
	<div class="col-md-6">
		<h3>Friends</h3>
		<ul class="list-group">
			<% @user.unique_friends.each do |friend| %>
					<li class="list-group-item">
						<%= link_to friend.name, public_profile_user_path(friend) %>
						<span class='badge'><%= user_notifications.unviewed_personal_notifications_from_user_count(friend) %></span>
					</li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="col-md-6">
	<h3>Groups</h3>
	<ul class="list-group">
		<% @user.groups.each do |group| %>
			<li class="list-group-item"><%= link_to group.name, group_path(group) %>
				<span class='badge'><%= user_notifications.unviewed_group_notification_count(group) %></span>
			</li>
		<% end %>
	</ul>
</div>

<% if @user.future_activities.any? %>
	<div class="col-md-6">
		<h3>Upcoming Activities</h3>
		<ul class="list-group">
			<% @user.future_activities.each do |activity| %>
				<li class="list-group-item">
					<%= link_to activity.plan, group_activity_path(activity.group, activity) %> with <%= activity.group_name %> <%= local_time_ago(activity.appointment) %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
