<div class="row">
	<div class="col m12">
		<h4><%= request.user_agent %></h4>
	<h3><%= @user_show.name %></h3>
		<span class="hide-on-med-and-down">
			<%= link_to "<i class='material-icons medium'>settings</i> Settings".html_safe, edit_user_path, class: "btn orange" %>
		</span>
		<%= link_to "Join Group", join_group_user_path, class: "btn green", method: :post if @user_show.under_group_limit? %></h5>
	</div>

		<div class="col s12 l6">
		<h3>Groups</h3>
		<div class="collection">
			<% @user_show.groups.each do |group| %>
				<%= link_to "#{group.name} <span class='badge'>#{current_user.unviewed_group_notification_count(group)}</span>".html_safe, group_path(group), class: "collection-item" %>
			<% end %>
		</div>

		<div class="hide-on-med-and-down">
			<% if @user_show.unique_friends.any? %>
				<h3>Friends</h3>
				<%= render partial: "users/friends", locals: { friends: @user_show.unique_friends } %>
			<% end %>
		</div>
	</div>

	<div class="col s12 l6">
		<%= render partial: "activities/activities", locals: { activities: @user_show.future_activities, group: @user_show.groups.first, user_show: true } %>
	</div>
</div>

<div class="modal" id="friends">
	<div class="modal-content">
		<h4>Friends</h4>
		<%= render partial: "users/friends", locals: { friends: @user_show.unique_friends } %>
	</div>
</div>
