<h1><%= @user.name %></h1>
<h5><%= link_to "Profile", user_public_profile_path(current_user), class: "btn btn-info" %> <%= link_to "Edit", edit_user_path, class: "btn btn-warning" %></h5>

<div class="col-md-6">
	<h3>Friends</h3>
	<ul class="list-group">
		<% @user.friends.uniq.each do |friend| %>
			<li class="list-group-item">
				<%= link_to friend.name, user_public_profile_path(friend) %>
				<span class='badge'><%= @user.personal_notifications(friend).count if @user.personal_notifications(friend).count > 0  %></span>
			</li>
		<% end %>
	</ul>
</div>

<div class="col-md-6">
	<h3>Groups</h3>
	<ul class="list-group">
		<% @user.groups.each do |group| %>
			<li class="list-group-item"><%= link_to group.name, group_path(group) %> 
				<span class='badge'><%= group.user_notification_count(current_user) if group.user_notification_count(current_user) > 0 %></span>
			</li>
		<% end %>
	</ul>
	<h5><%= link_to '<i class="glyphicon glyphicon-plus"></i> Add Group'.html_safe, add_group_path, class: 'btn btn-success' %> 
	</h5>
</div>

