<div class="row">
	<div class="col m12">
	<h1><%= @user.name %></h1>
		<div class="hide-on-med-and-down">
			<%= link_to "<i class='material-icons medium'>settings</i> Settings".html_safe, edit_user_path, class: "btn btn-warning", remote: true %>
		</div>
		<%= link_to "Join Group", join_group_user_path, class: "btn btn-success", method: :post if @user.under_group_limit? %></h5>
	</div>

		<div class="col s12 m6">
		<h3>Groups</h3>
		<div class="collection">
			<% @user.groups.each do |group| %>
				<%= link_to "#{group.name} <span class='badge'>#{current_user.unviewed_group_notification_count(group)}</span>".html_safe, group_path(group), class: "collection-item" %>
			<% end %>
		</div>

		<% if @user.unique_friends.any? %>
			<h3>Friends</h3>
			<div class="collection">
				<% @user.unique_friends.each do |friend| %>
						<%= link_to "#{friend.name} <span class='badge'>#{current_user.unviewed_personal_notifications_from_user_count(friend)}</span>".html_safe, public_profile_user_path(friend), class: "collection-item" %>
				<% end %>
			</div>
		<% end %>
	</div>

	<% if @user.future_activities.any? %>
		<div class="col s12 m6">
			<h3>Upcoming Activities</h3>
				<% @user.future_activities.each do |activity| %>
					<div class="card">
						<div class="card-content">
							<span class="card-title"><%= link_to activity.plan, activity_path(activity) %></span>
							<p>
								<%= activity.location %>
								<%= local_time(activity.appointment) %>
								<span class='badge'><%= current_user.unviewed_activity_notifications_count(activity) %></span>
							</p>
						</div>
					</div>
				<% end %>
		</div>
	<% end %>
</div>
