<div class="row">
	<div class="col m12">
	<h1><%= @user.name %></h1>
	<h5><%= link_to "Profile", public_profile_user_path(current_user), class: "btn btn-info" %> <%= link_to "Edit", edit_user_path, class: "btn btn-warning" %> <%= link_to "Join Group", join_group_user_path, class: "btn btn-success", method: :post if @user.under_group_limit? %></h5>
	</div>

	<% if @user.unique_friends.any? %>
		<div class="col s12 m6">
			<h3>Friends</h3>
			<div class="collection">
				<% @user.unique_friends.each do |friend| %>
						<%= link_to "#{friend.name} <span class='new badge'>#{current_user.unviewed_personal_notifications_from_user_count(friend)}</span>".html_safe, public_profile_user_path(friend), class: "collection-item" %>
				<% end %>
			</div>
		</div>
	<% end %>

	<div class="col s12 m6">
		<h3>Groups</h3>
		<div class="collection">
			<% @user.groups.each do |group| %>
				<%= link_to "#{group.name} <span class='new badge'>#{current_user.unviewed_group_notification_count(group)}</span>".html_safe, group_path(group), class: "collection-item" %>

			<% end %>
		</div>
	</div>

	<% if @user.future_activities.any? %>
		<div class="col s12 m6">
			<h3>Upcoming Activities</h3>
			<div class="collection">
				<% @user.future_activities.each do |activity| %>
					<li class="collection-item"><%= link_to activity.plan, activity_path(activity) %> with <%= activity.group_name %> <%= local_time_ago(activity.appointment) %>
						<span class='badge'><%= current_user.unviewed_activity_notifications_count(activity) %></span>
					</li>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
