<nav>
	<div class="nav-wrapper">

		<a href="/" class="brand-logo">
			<%= image_tag 'krewe.png', id: 'logo' %>
		</a>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

		<ul class="right hide-on-med-and-down">
			<% if current_user %>

				<li> <%= link_to "Home", root_path %></li>
				<% if current_user.try(:show_notifications_positive?) %>
					<li><a class="dropdown-button" href="#!" data-activates="note-alerts">Notifications<i class="material-icons right">arrow_drop_down</i></a></li>

					<ul id="note-alerts" class="dropdown-content">
						<li><%= render 'shared/notifications' %></li>
					</ul>
				<% end %>
				<li> <%=  link_to 'Log Out', logout_path, method: :delete %></li>
			<% else %>
				<li><a href="#login" class="modal-trigger">Log In/Sign Up</a></li>
			<% end %>

			<li><%= link_to "<i class='material-icons'>help</i>".html_safe, faq_path %></li>
		</ul>
	</div>
</nav>
