<a href="#" data-activates="nav-mobile" class="button-collapse hide"><i class="material-icons">menu</i></a>

<ul id="nav-mobile" class="side-nav blue">
  <li><a href="/"><%= image_tag 'krewe', id: 'logo' %></a></li>

  <% if current_user %>
    <li><%= link_to "Home", user_path(current_user), class: 'white-text' %></li>

    <% if current_user.try(:show_notifications_positive?) %>
      <li><a href="#notifications" class="modal-trigger white-text">Notifications (<%= current_user.show_notifications_count %>)</a></li>

    <% end %>

    <% if @user_show %>
      <li><a href="#friends" class="modal-trigger white-text">Friends (<%= @user_show.unique_friends_count %>)</a></li>
    <% end %>

    <% if @group_show %>
      <li><%= link_to "Leave Group", drop_user_group_path(@group_show.group), class: 'white-text', method: :delete, data: {confirm: "Are you sure you want to drop this group?", text: "You will not be able to rejoin it.", 'confirm-button-text': "Yeah, these guys are jerks"} %></li>

      <% if @group_show.ripe_for_expansion? %>
        <% unless @group_show.user_expand_group_votes(current_user) %>
          <li><%= link_to "Expand Group #{@group_show.expand_group_votes_size}/#{@group_show.users_count}", group_expand_group_votes_path(@group_show.group), method: :post, class: 'expand white-text', remote: @group_show.not_almost_expandable? %></li>
        <% else %>
          <li><%= link_to "Don't Expand #{@group_show.expand_group_votes_size}/#{@group_show.users_count}", group_expand_group_vote_path(@group_show.group, @group_show.user_expand_group_votes(current_user)), method: :delete, class: 'remain white-text', remote: true %></li>
        <% end %>
      <% end %>


      <li><a href="#members" class="modal-trigger white-text">Members (<%= @group_show.users_count %>)</a></li>
      <li><a href="#new-topic" class="modal-trigger white-text">New Thread</a></li>
      <li><a href="#activities" class="modal-trigger white-text">Upcoming Activities (<%= @group_show.activities_count %>)</a></li>
      <li><%= link_to "Propose Activity", new_group_activity_path(@group_show.group), class: 'white-text', id: 'new_activity' %></li>
    <% end %>

    <% if @activity_show %>
      <li><%= link_to "Messages #{@activity_show.note_count}", activity_messages_path(@activity_show.activity), class: 'white-text' %></li>
    <% end %>

  <li><%= link_to 'Log Out', logout_path, class: 'white-text', method: :delete %></li>
  <li><%= link_to "Settings".html_safe, edit_user_path(current_user), class: 'white-text' %></li>
  
  <% else %>
    <%= link_to "Log In", login_path, class: 'white-text' %>
    <%= link_to "Sign Up For Beta", beta_signup_path, class: 'white-text' %>
  <% end %>

  <li><%= link_to "FAQ", faq_path, class: 'white-text' %></li>
</ul>

<% if current_user.try(:show_notifications_positive?) %>
	<div id='notifications' class="modal">
		<div class="modal-content">
				<h3>Notifications</h3>
				<ul class="collection">
					<%= render 'shared/notifications' %>
				</ul>
		</div>
	</div>
<% end %>
