<div class="container">
  <div class="card-panel">
    <h3>Please let us know why you're deleting your account:</h3>
    <%= form_for @survey do |f| %>

      <%= render 'shared/errors', object: @survey %>

      <%= f.hidden_field :email, value: params[:email] %>

      <% reasons_for_leaving.each_with_index do |reason, index| %>
        <p>
          <%= f.check_box(:reasons, {multiple: true, id: "box-#{index}"}, reason, nil)  %>
          <%= label_tag "box-#{index}", reason %>
        </p>
      <% end %>

      <div class="input-field">
        <%= f.text_area :reasons, class: "materialize-textarea", id: "text-area-input", multiple: true %>
        <%= f.label :reasons, "Other:" %>
      </div>

      <%= f.submit :Submit, class: "btn blue" %>
    <% end %>
  </div>
</div>
