<%= form_for([@group, @activity]) do |f| %>
  <%= render 'shared/errors', object: @activity %>

  <div id="map-canvas" data-longitude="<%= @group.longitude %>" data-latitude="<%= @group.latitude %>"></div><br>

  <div class="row">
    <div class="col s12 m6">

      <div class="row">
        <ul class="tabs">
          <li class="tab col s2"><a href="#" class="active place-type" data-type='bar' data-plan='Get drinks'><i class="material-icons">local_bar</i></a></li>
          <li class="tab col s2"><a href="#" class="place-type" data-type='restaurant' data-plan='Get food'><i class="material-icons">local_dining</i></a></li>
          <li class="tab col s2"><a href="#" class="place-type" data-type='cafe' data-plan='Get coffee'><i class="material-icons">local_cafe</i></a></li>
        </ul>
      </div>

      <ul class="collection" id="spots">
        <li class="collection-item">Some places nearby...</li>
      </ul>
    </div>

    <div class="col s12 m6">
      <div class="input-field">
        <%= f.text_field :plan, required: true %>
        <%= f.label :plan, "What's the plan?" %>
      </div>
      <div class="input-field">
        <%= f.text_field :location, placeholder: "", required: true %>
        <%= f.label :location, "Where?" %>
      </div>

      <div class="input-field">
        <%= text_field_tag :day, "", class: "datepicker", id: "date_field", required: true %>
        <%= label_tag :date_field, "What day?" %>
      </div>

      <div class="input-field">
        <%= text_field_tag :time, "", id: "time_field", required: true %>
        <%= label_tag :time_field, "What time?" %>
      </div>

        <%= f.hidden_field :appointment %>
    </div>

    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :latitude %>

    <div class="right-align">
      <%= f.submit "Submit", class: 'btn green' %>
    </div>
  </div>
<% end %>
