<%= form_for(@activity) do |f| %>
	<%= f.text_field :plan, placeholder: "What's the plan?", class: 'form-control' %>
	<%= f.text_field :location, placeholder: "Where?", class: 'form-control' %>
	<div class="form-group">
		<div class="input-group date" id='datetimepicker'>
			<%= f.text_field :appointment, class: 'form-control', value: @activity.fix_form_time %>
			<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		</div>
	</div>
	<%= f.hidden_field :group_id, value: params[:group_id] %>
	<%= f.hidden_field :proposer_id, value: current_user.id %>
	<%= hidden_field_tag :offset, Time.now.utc_offset %>
	<%= Time.now %>
	<%= Time.now.utc_offset %>
	<%= f.submit "Submit", class: 'btn btn-success' %>
<% end %>
