<div class="well">
	<h1><%= @activity.plan %>
	<% if @activity.user_going?(current_user) %>
		<%= link_to "Can't go", activity_remove_user_path(@activity), method: :delete, class: 'btn btn-danger' %>
	<% else %>
		<%= link_to "Go", activity_add_user_path(@activity), remote: true, method: :post, class: 'btn btn-success', id: "activity-go" %></h1>
	<% end %>
	<h1><%= link_to @activity.group_name, @activity.group %></h1>
	<h2><%= local_time(@activity.appointment) %></h2>
	<h2><%= @activity.location %></h2>

	<div id="map">

	</div>
	<%= link_to "Edit Activity", edit_activity_path(@activity, group_id: @activity.group), class: 'btn btn-warning' if @activity.proposed_by?(current_user) %>
</div>

<div class="col-md-6">
	<h3>People going</h3>
		<ul class="list-group">
		<% @activity.users.each do |user| %>
			<li class="list-group-item"><%= link_to user.name, user_public_profile_path(user) %></li>
		<% end %>
		</ul>
</div>

<script>
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	markers = handler.addMarkers([
		{
			"lat": <%= @activity.latitude %>,
			"lng": <%= @activity.longitude %>
		}
	]);
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();
	handler.getMap().setZoom(17);
	});
</script>
