		<% current_user.unviewed_notifications.each do |note| %>
			<% case note.notification_type %>
			<% when "TopicMessage" %>
				<li><%= link_to "#{note.poster_name} wrote in #{note.group_name}", group_path(note.notifiable.messageable_group) %></li>
			<% when "UserMessage" %>
				<li><%= link_to "#{note.poster_name} sent you a message", public_profile_user_path(note.poster) %></li>
			<% when "Join" %>
				<li><%= link_to "#{note.poster_name} joined #{note.notifiable.name}", group_path(note.notifiable) %></li>
			<% when "Activity" %>
				<li><%= link_to "#{note.poster_name} proposed an activity", activity_path(note.notifiable) %></li>
			<% when "ActivityMessage" %>
				<li><%= link_to "#{note.poster_name} wrote in #{note.notifiable.messageable.plan}", activity_path(note.notifiable.messageable) %></li>
			<% when "ActivityUpdate" %>
		  	<li><%= link_to "#{note.poster_name} made changes to #{note.notifiable.plan}", activity_path(note.notifiable) %></li>
			<% end %>
		<% end %>
