<% if current_user.active_notifications("Message").any? || current_user.active_notifications("Join").any? %>
	<a href="#" class="dropdown-toggle" data-toggle='dropdown' role='button' aria-expanded='false'>Notifications <span class='caret'></span></a>
	<ul class="dropdown-menu" role='menu'>
			<% current_user.active_notifications("Message").each do |notification| %>
				<li><a href="/groups/<%= notification.group.id %>"><%= notification.poster.name %> wrote in <%= notification.group.name %> <%= local_time_ago(notification.created_at) %></a></li>
			<% end %>
		
		<% if current_user.active_notifications("Message").any? && current_user.active_notifications("Join").any? %>
			<li class="divider"></li>
		<% end %>
		
		<% current_user.active_notifications("Join").each do |notification| %>
			<li><a href="/groups/<%= notification.group.id %>"><%= notification.poster.name %> joined <%= notification.group.name %></a></li>
		<% end %>
	</ul>
<% end %>
