<nav>
	<div class="nav-wrapper blue">


		<a href="/" class="brand-logo">
			<%= image_tag 'krewe', id: 'logo' %>
		</a>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

		<ul class="right hide-on-med-and-down">
			<% if current_user %>

				<li> <%= link_to "Home", user_path(current_user) %></li>
				<% if current_user.try(:show_notifications_positive?) %>
					<li><a class="dropdown-button" href="#!" data-activates="note-alerts">Notifications<i class="material-icons right">arrow_drop_down</i></a></li>

					<ul id="note-alerts" class="dropdown-content">
						<li><%= render 'layouts/notifications' %></li>
					</ul>
				<% end %>
				<li> <%=  link_to 'Log Out', logout_path, method: :delete %></li>

			<% else %>
				<li><%= link_to "Log In", login_path, remote: true %></li>
				<li><%= link_to "Sign Up", new_user_path, remote: true %></li>
			<% end %>

			<li><%= link_to "<i class='material-icons'>help</i>".html_safe, faq_path %></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<% if current_user %>
				<%= link_to "Home", user_path(current_user), class: "btn blue white-text" %>
				<%= link_to 'Log Out', logout_path, method: :delete, class: "btn lime white-text" %>
				<%= link_to "Settings".html_safe, edit_user_path(current_user), class: "btn orange white-text" %>

				<% if current_user.try(:show_notifications_positive?) %>
					<a href="#notifications" class="waves-effect btn amber modal-trigger white-text">Notifications (<%= current_user.show_notifications_count %>)</a>

				<% end %>

				<% if @user_show %>
				  <a href="#friends" class="waves-effect btn cyan modal-trigger white-text">Friends (<%= @user_show.unique_friends_count %>)</a>
				<% end %>

				<% if @group_show %>
					<%= render "groups/buttons" %>
					<a href="#activities" class="waves-effect btn light-blue modal-trigger white-text">Upcoming Activities (<%= @group_show.activities_count %>)</a>
					<%= link_to "Propose Activity", new_group_activity_path(@group_show.group), id: 'new_activity', class: 'waves-effect waves-light btn purple white-text' %>
				<% end %>

			<% else %>
				<li><%= link_to "Log In", login_path %></li>
				<li><%= link_to "Sign Up", new_user_path %></li>
			<% end %>
		</ul>
	</div>
</nav>

<div class="modal" id="create-user">

</div>

<% if current_user.try(:show_notifications_positive?) %>
	<div id='notifications' class="modal">
		<div class="modal-content">
			<div class="card-panel">
				<h3>Notifications</h3>
				<ul class="collection">
					<%= render 'layouts/notifications' %>
				</ul>
			</div>
		</div>
	</div>
<% end %>
